:host {
    display: flex;
    justify-content: space-between;

    .minhas-musicas {
        padding: 0 50px 20px 50px;
        width: 100%;
        max-height: 100vh;
        overflow-y: scroll;
    }

    .d-block {
        display: block;
    }

    .painel-direito {
        height: 100%;
    }
}