$cor-primaria: #37ab00;
$cor-primaria-escura: #2e8903;
$cor-fundo: #fbfef4;
$cor-fundo2: #fff;

$preto-transparent-30: #0000004d;
$preto-transparent-20: #00000033;
$preto-transparent-03: #00000008;
$preto-transparent-70: rgba(0, 0, 0, 0.7);

$branco: $cor-fundo2;
